@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

#root {
  min-width: 100vw;
  min-height: 200vh;
  margin: 0 auto;
  text-align: center;
  background-color: #0E1127;
}

.navColor {
  color: rgba(243, 193, 129, 1);
}

.title {
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 84px;
  line-height: 80px;
  letter-spacing: -0.01em;

  color: #F3C181;
}

.card {
  background: #111322;
  box-shadow: 0px 0px 6px #F9EBDB;
  border-radius: 14px;
}

.cardTitle {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;

  color: #D68323;
}

.cardSubtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.01em;

  color: #F9EBDB;
}

.wrap {
  box-sizing: border-box;

  position: absolute;
  width: 155px;
  height: 70px;
  left: 50px;
  top: 375px;
  border-radius: 50%;

  border: 3.5px solid #F9EBDB;
}

.link-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 19px;
  text-align: center;

  color: #F9EBDB;
}

.subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;

  color: #F9EBDB;
}

.active {
  display: inline;
  border-bottom: 2px solid rgba(243, 193, 129, 1);
}

.dappsTitle {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;

  text-align: center;

  color: #F3C181;
}

.contactParagraph {
  color: rgba(249, 235, 219, 1);
}

.dappsSubtitle {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;

  text-align: center;

  color: #D68323;
}

.swiper-pagination-progressbar-fill {
  background-color: #D68323 !important;
}

.orange-blob {
  position: absolute;
  width: 50vmax;
  height: 50vh;
  right: 0;
  top: 376px;
  animation: move 10s ease-in-out infinite;

  background: #CC762E59;
  filter: blur(400px);
}

.orange-blob-2 {
  position: absolute;
  width: 30vw;
  height: 60vh;
  left: 0;
  top: 150vh;
  animation: move 10s linear infinite;

  background: #CC762E59;
  filter: blur(400px);
}



.blue-blob {
  position: absolute;
  z-index: -1;
  width: 50vmax;
  left: 0;
  background: #0D0F1B;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
  filter: blur(395px);
}

@keyframes move {
  0%   { transform: scale(1)   translate(10px, -30px); }
  38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  100% { transform: scale(1)   translate(10px, -30px); }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}